.convert, #rate{
    text-align: center;
    width: 400px !important;
    margin: auto !important;
    padding-bottom: 0;
    position: relative;
    justify-content: space-between;
}

#rate{
    font-weight: normal !important;
    font-size: 16px !important;
    color: #70757a;
    margin-bottom: 15px!important;
}

#rate #result{
    color: black;
    font-size: 36px !important;
}

.currency-select{
    background-color: #fff;
    overflow: hidden;
    position: relative;
    height: 40px;
    display: inline-block;
    flex-grow: 2;
    width: inherit;

}

.divider{
    border-left: 1px solid #dadce0;
    position: absolute;
    top: 8px;
    bottom: 8px;
    z-index: 3;
}

.currency-input:hover {
    border: 1px solid #202124;
}

.input{
    overflow: hidden;
    line-height: 24px;
    padding: 1px 6px 1px 12px;
    font-size: 16px;
    border: 0;
    height: 40px;
    color: #4d5156;
    width: inherit;
}

.currency-input {
    padding: 1px;
    border: 1px solid #dadce0;
    color: #70757a;
    overflow: hidden;
    display: flex;
    border-radius: 6px;
    margin-bottom: 10px;
}

.select{
    appearance: none;
    opacity: 0;
    z-index: 1;
    line-height: 40px;
    width: 100%;
    position: absolute;
    right: 0;
    font-size: 15px;
}

.label{
    text-align: end;
    height: 100%;
    line-height: 40px;
    word-break: break-all;
    color: #4d5156;
    
    position: absolute;
    right: 0;

    padding-right: 30px;
    width: calc(100% - 30px);
    text-align: right;
    background: url(//ssl.gstatic.com/images/icons/material/system/1x/arrow_drop_down_grey600_24dp.png) no-repeat 98% 50%;
}