<br>
<!-- <div id="rate">
    <span>1 {{curr1.value}} дорівнює </span>
    <br>
    <span id="result">{{getRate(curr1.value, curr2.value)}} {{curr2.value}}</span>
</div> -->

<div class="convert">
    <div classs="convert-form">
        <div class="currency-input">
            <input class="input" type="number" id="first-input" [formControl]="val1" [placeholder]="val1.value" (input)="onInputChange(val2, val1, curr1, curr2)">
            <div class="currency-select">
                <div class="divider"></div>
                <select class="select" id="first-select" [formControl]="curr1" (change)="onCurrencyChange(val2, val1, curr1, curr2)">
                    <option>UAH</option>
                    <option>USD</option>
                    <option>EUR</option>
                    <option>PLN</option>
                </select>
                <span class="label" aria-hidden="true">{{curr1.value}} </span>
            </div>
        </div>
        <div class="currency-input">
            <input class="input" type="number" id="second-input" [formControl]="val2" [placeholder]="val2.value" (input)="onInputChange(val1, val2, curr2, curr1)">
            <div class="currency-select">
                <div class="divider"></div>
                <select class="select" id="first-select" [formControl]="curr2" (change)="onCurrencyChange(val1, val2, curr2, curr1)">
                    <option>UAH</option>
                    <option>USD</option>
                    <option>EUR</option>
                    <option>PLN</option>
                </select>
                <span class="label" aria-hidden="true">{{curr2.value}} </span>
            </div>
        </div>
    
    </div>
    

</div>

