.headerItem{
    margin: 10px;
}

.main{
    min-height: calc(100vh - 175px);
    padding: 40px;
}

header{
    max-height: 50px;
    padding: 15px;
    background-color: black;
    color: #ffff;
    margin: 0;
}

footer{
    color: #ffff;
    background-color: black;
    max-height: 50px;
    margin: 0;
    padding: 15px;
}